ext/src/.DS_Store
ext/lib/.DS_Store
.DS_Store
src/.DS_Store
bin/*
xcuserdata
tmp/*
.idea/*
.gradle
build
ota
git-daemon-export-ok
log/
release/
Pods/
archive/
About.html
InputStickDemo.xccheckout
InputStickAPI.xccheckout
